/* 
	Resets defualt browser settings
	reset.css
*/
/*html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	margin:0;
	padding:0;
	border:0;
	outline:0;
	font-weight:inherit;
	font-style:inherit;
	font-size:100%;
	font-family:inherit;
	vertical-align:baseline;
}

:focus {
	outline:0;
}
a:active {
	outline:none;
}
body {
	line-height:1;
	color:black;
	background:white;
}
ol, ul {
	list-style:none;
}
table {
	border-collapse:separate;
	border-spacing:0;
}

*/
caption, th, td {
	text-align:left;
	font-weight:normal;
}
blockquote:before, blockquote:after, q:before, q:after {
	content:"";
}
blockquote, q {
	quotes:"" "";
}
/*
body {
	font:normal 62.5%/1.5 Helvetica, Arial, sans-serif;
	letter-spacing:0;
	color:#434343;
	background:#efefef url(../img/background.png) repeat top center;
	padding:20px 0;
	position:relative;
	text-shadow:0 1px 0 rgba(255, 255, 255, .8);
	-webkit-font-smoothing: subpixel-antialiased;
}

#container {
	width:580px;
	padding:10px;
	margin:0 auto;
	position:relative;
	z-index:0;
}
*/
#products_example {
	width:600px;
	height:282px;
	position:relative;
}
#products {
	margin-left:26px;
}
#products .next, #products .prev {
	position:absolute;
	top:127px;
	left:0;
	width:21px;
	height:0;
	padding-top:21px;
	overflow:hidden;
	display:block;
	z-index:101;
}
#products .prev {
	background:url(../img/arrow-prev.png);
}
#products .next {
	left:398px;
	background:url(../img/arrow-next.png);
}
#products .slides_container {
	width:366px;
	height:274px;
	overflow:hidden;
	float:left;
	position:relative;
	border:1px solid #dfdfdf;
}
#products .pagination {
	background:#dfdfdf;
	width:130px;
	padding:5px 5px;
	float:left;
	margin-left:30px;
	border-radius:5px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
}
#products .pagination li {
	float:left;
	margin:2px 4px;
}
#products .pagination li a {
	display:block;
	width:55px;
	height:41px;
	margin:1px;
	float:left;
	background:#f9f9f9;
}
#products .pagination li.current a {
	border:1px solid #7f7f7f;
	margin:0;
}
/*#footer {
	clear:both;
	text-align:center;
	width:580px;
	margin-top:2px;
	padding:5px;
	font-size:14px;
	border-top:1px solid #dfdfdf;
}
#footer p {
	font-size:14px;
}
a:link, a:visited {
	color:#599100;
	text-decoration:none;
}
a:hover, a:active {
	color:#599100;
	text-decoration:underline;
}
*/