@containerMinWidth: 1000px;
@btnColor: #d8e5c9;
@menuHoverColor: #D5EDF1;
@pLineHeight: 28px;
@pFontSize: 17px;
@pFont: 'Georgia';
@mainFont: 'CirceRegular';
@mainFontB: 'CirceBold';

// MIXINS

.active-menu-link(@btnColor) {
  border-bottom: 4px solid @btnColor;
}

// MIXINS END

@font-face {
  font-family: 'CirceRegular';
  src: url('/fonts/Circe/CRC55.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'CirceBold';
  src: url('/fonts/Circe/CRC65.otf');
  font-weight: bold;
  font-style: normal;
}

* {
  font-family: @mainFont;
  &:focus {
    outline: 0;
  }
}

.btn {
  &:hover {
    background: none repeat scroll 0 0 @btnColor;
    color: #63695b;
  }
  background: none repeat scroll 0 0 @btnColor;
  border: none;
  border-radius: 0;
  color: #63695b;
  letter-spacing: 6px;
  font-size: 11pt;
  text-decoration: none;
  box-shadow: none;
  padding-top: 16px;
}

.btn-success:focus {
  background: none repeat scroll 0 0 @btnColor;
  color: #63695b;
}

.underline {
  text-decoration: underline;
  &:hover {
    text-decoration: none;
  }
}

.container {
  width: @containerMinWidth;
  padding: 0 0;
}

a {
  color: black;
}
.nav-pills > li > a {
  background: none !important;
}

p {
  line-height: @pLineHeight;
  font-size: @pFontSize;
  font-family: @pFont;
  margin-bottom: 28px;
}

h1 {
  font-size: 24px;
  font-family: @mainFont;
}

h2 {
  line-height: 36px;
  font-family: @mainFont;
  font-size: 30px;
}

.no-border {
  border: 0 !important;
}

.no-p-b {
  padding-bottom: 0 !important;
}

.title {
  width: 600px;
  margin: 0 auto;
}
.bold {
  font-weight: bold;
}

/*panel*/

.panel {
  padding: 0;
  margin: 0 auto;
  box-shadow: none;
  width: 1000px;
  border: none;
  border-top: 8px solid black;
  border-radius: 0;
  h2 {
    font-weight: bold;
  }
  .panel-heading {
    background: none;
    padding-top: 9px;
    padding-left: 0px;
    padding-bottom: 13px;
    border-color: #888888;
  }
  .panel-body {
    &.contacts {
      padding-left: 0px;
      border-bottom: none;
      padding-top: 50px;
      border: none;
      .contact-block {
        width: 24%;
        float: left;
        padding-right: 30px;
        font-family: @pFont;
        font-size:15px;
      }

    }
  }

}

.panel-table {
  width: 100%;
  tr {
    border-bottom: 1px solid #a1a1a1;
  }
  td {
    vertical-align: top;
    padding-bottom: 32px;
    padding-top: 32px;
  }
  &.for-press {
    margin-top: -24px;
    tr {
      border-bottom: none;

    }
    .for-press-text {
      width: 618px;
    }
    table {
      border: none;
      font-weight: bold;
      width: 253px;

      td {
        vertical-align: top;
        padding-top: 0;
      }
    }
  }
  &.shipping {
    .td-left {
      font-weight: bold;
      padding-right: 82px;

    }
    .td-right {
      width: 500px;
      font-family: @pFont;
      line-height: 30px;
    }
  }
}

.stocklists {
  padding-bottom: 7px;
  padding-top: 34px;
  &.noborder {
    border-bottom: none;
  }
  border-bottom: 1px solid #888888;
  .panel-table {
    td {
      padding-bottom: 26px;
      padding-top: 0px;
    }
    tr {
      border: none;
      .td-left {
        width: 226px;
        font-weight: bold;

      }
      .td-middle {
        font-weight: bold;
        width: 258px;
      }
      .td-right {
        padding-right: 165px;
        div {
          font-family: @pFont;
          line-height: 30px;
          &.bold {
            font-weight: bold;
          }
        }

      }
    }
  }
}

/*panel*/

.list-group {
  box-shadow: none;
}

#menu-verstka {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999999;
}

.header {
  transition: height 0.3s;
  z-index: 30;
  background: transparent;
  position: fixed;
  font-size: 12pt;
  height: 100px;
  width: 100%;
  margin-bottom: 70px;
  top: 0;
  .container {
    border: none;
    padding-top: 32px;
    padding-bottom: 31px;
    height: 100%;

  }
  .header-menu_2 {
    float: left;
  }
  &.border {
    background: #fff;
    .container {
      border-bottom: 1px solid #ebebeb;
    }
  }
  &.header-little {
    height: 67px;
    .container {
      padding-top: 15px;
    }
    .logo {
      background: url(/images/triangle_eye.png) no-repeat center center;
    }
  }
  a {
    color: #333333;
    font-size: 12pt;
  }

  .selectable {
    a {
      transition: all 0.2s;
      border-bottom: 4px solid transparent;
      &:hover {
        .active-menu-link(@menuHoverColor);
      }
    }
  }
  .lang {
    li {
      padding: 0px 12px;
      margin-right: 17px;
    }
  }
  li {
    padding: 2px 16px;
    margin-right: 14px;
    &.popwindow {
      position: relative;
      margin: -5px 0 0 0;
      padding: 0;
      a {
        span {
          display: block;
          float: left;
          margin-top: 4px;
          margin-left: 3px;
          margin-top: 5px;
        }
      }
    }
    &.signin {
      padding: 0px 15px;
      margin-right: 20px;
    }
    &.current {
      a {
        padding-bottom: 7px;
        display: inline;
        .active-menu-link(@btnColor);
        &:hover {
          .active-menu-link(@btnColor);
        }
      }
    }

    a {
      padding: 7px 0 0;
      border-radius: 0;
    }

  }
  .logo {
    margin: -3px auto 0;
    background: url(/images/sleeper.png) no-repeat center center;
    width: 212px;
    height: 40px;
  }

  .bag {
    background: url("/images/bag.png") no-repeat scroll left center rgba(0, 0, 0, 0);
    display: inline-block;
    height: 25px;
    width: 27px;
    display: block;
    float: left;

  }
  .stick {
    background: url(/images/stick.png) no-repeat right;
  }

}

.content {
  padding: 0;
  padding-bottom: 238px;
  margin-bottom: x200px;
  &.padding {
    padding-top: 140px;
    padding-bottom: 326px;
  }
}

.images {
  width: 100%;
  padding-top: 175px;
  position: relative;
  margin-bottom: 57px;
  background: url(../images/header_bg.png) center;
  height: 399px;
  .inner_text {
    right: 394px;
    top: 201px;
    width: 361px;
  }
  &.margin-top {
    margin-top: 156px;
  }
  &.no-image {
    background: none #efefef;
  }
}
.inner_text_big {
  font-size: 28px;
  font-weight: bold;
  line-height: 37px;
}
.slider-text {
  width: 500px;
  margin: 0 auto;
}

.inner_text {
  position: absolute;
  right: 269px;
  right: 362px;
  text-align: center;
  top: 301px;
  width: 285px;
  h2 {
    color: black;
    font-size: 14pt;
    margin-top: 24px;
  }
}

.mail {
  margin: 0 auto;
  color: black;
  display: block;
  margin: 0 auto 20px;
  a {
    color: black;
    font-weight: bold;
  }
}

.featured {
  margin-bottom: 100px;
  .title {
    margin-bottom: 50px;
  }
  .row {
    text-align: center;
  }
  img {
    margin-bottom: 20px;
  }
  .featured-block {
    width: 33%;
    padding: 0 60px;
    float: left;
  }

}

.categories {
  margin-bottom: 100px;
  .title {
    margin-bottom: 100px;
  }
  .category-container {
    .category {
      float: left;
      &.left_top {
        margin: 100px 50px 50px 30px;
      }
      &.right_top {
        margin: 0px 0px 0px 50px;
      }
      &.left_bottom {
        margin: -210px 0 0 570px;
      }
      &.right_bottom {
        margin: -383px 0 0 130px;
      }
      .category-title {
        font-size: 18px;
        text-transform: uppercase;
        letter-spacing: 5px;
        margin-top: 20px;
      }
    }
  }
}

.press {
  .title {
    margin-bottom: 100px;
  }
  .press-container {
    width: 830px;
    margin: 0 auto;
    .press-item {
      display: inline-block;
      margin: 0 90px 90px 0;
      &:nth-child(3n) {
        margin-right: 0;
      }
    }
  }
}

.publications {
  margin-top: 22px;
  .thumb {
    margin: 0 22px 22px 0;
    float: left;
    &:nth-child(4n) {
      margin-right: 0;
    }
  }/*
  img {
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
    -webkit-filter: grayscale(100%);
  }*/
  a:hover > img {
    filter: none;
  }
}

.media {
  width: 706px;
  position: relative;
  border-bottom: 1px solid #ebebeb;
  margin-bottom: 28px;
  padding-bottom: 28px;
  h4 {
    margin-top: 20px;
    font-size: 24px;
    margin-bottom: 8px;
    xfont-family: @mainFont;
  }
  .media-body {
    padding-left: 20px;
    .media-bottom {
      padding-top: 5px;
      div {
        margin-right: 20px;
        float: left;
        font-size: 15px;
        span {
          font-family: @pFont;
          padding: 5px 8px 8px;
          &.key {
            padding: 5px 0 8px;
          }
          &.value {
            font-weight: bold;
          }
          &.bg {
            background: #efefef;
          }
        }
      }
    }
  }
  .exit {
    position: absolute;
    right: 0;
    top: 20;
  }
}

.menues {
  margin-bottom: 32px;
  margin-top: -17px;
  width: @containerMinWidth;
  font-weight: bold;
  &.fixed {
    position: fixed;
    top: 84px;
    background: #fff;
    z-index: 100;
  }
  .nav-pills {
    padding-left: 8px;
  }
  .pull-right {
  }
  a {
    color: black;
    font-size: 11pt;
  }
  li {
    &.current {
      padding: 8px;
      span {
        padding: 0;
        border-bottom: 1px solid black;
      }
    }
  }
}

/*masonry*/
#container {
  width: 100% !important;
  margin: 0 auto;
  .item {
    margin-bottom: 17px;
    width: 321px;
    img {
      min-width: 100%;
      margin-bottom: 12px;
    }
    div {
      margin-bottom: 5px;
      font-family: @pFont;
      font-size: 16px;
    }
    span {
      font-weight: bold;
      font-size: 16px;
    }
  }
}

/*masonry*/

/*footer*/
html {
  position: relative;
  min-height: 100%;
}

body {
  font-family: Myriad Pro;
  margin: 0 0 100px; /* bottom = footer height */
}

.overlay-half {
  position: absolute;
  width: 100%;
  height: 100%;
}

.footer {
  min-width: @containerMinWidth;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 173px;
  width: 100%;
  background: #f4f4f4;
  padding-top: 71px;
  padding-bottom: 195px;
  .footer_upper {
    margin-bottom: 48px;
    .social_res {
      li a {
        padding: 10px 23px;
      }
    }
    .subscribe {
      margin-top: 17px;
      font-size: 17px;
    }

    .email {
      height: 54px;
      width: 301px;
      background: #eaeaea;
      padding-top: 16px;
      padding-left: 20px;
      padding-right: 20px;

      .input_email {
        border: none;
        background: transparent;
        font-size: 15px;
        width: 210px;
      }

      .go {
        xmargin-top: -23px;
        a {
          font-size: 14pt;
          color: black;
          &:hover {
            text-decoration: none;
          }
        }
      }
    }
  }

  .footer-menu li a {
    padding: 10 29;
    color: #cacaca;
    font-size: 13pt;
  }
}

/* footer */

/* slider*/

.carousel {
  height: auto;
  margin-bottom: 100px;
  .carousel-control {
    top: -33px;
  }
  .carousel-inner {
    .item {
      height: 700px;
      min-width: @containerMinWidth;
      img {
        height: auto;
        float: left;
      }
    }
  }
}

.glyphicon-chevron-right:before {
  content: none;
}

.glyphicon-chevron-left:before {
  content: none;
}

.carousel-control .glyphicon-chevron-right, .carousel-control .icon-next {
  margin-right: 115px;
}

.carousel-control .glyphicon-chevron-left, .carousel-control .icon-prev {
  margin-left: 115px;
}

/* slider*/

/* gallery*/

#products {
  margin-left: 7px;
  position: relative;
  .pagination {
    background: none;
    margin-left: 9px;
    margin-top: -7px;
    padding: 0;
    width: 90px;
    li {
      float: left;
      margin: 8px 4px;
    }
    li a {
      height: 100px;
      width: 100px;
      padding: 0;
      img {
        height: 100%;
        width: 100%;
      }
    }

  }
  .slides_container {
    height: 457px;
    width: 421px;
    a {
      display: block;
      width: 421px;
    }
    img {
      min-width: 100%;
    }
    .photo-container {
      width: 421px;
    }
  }

}

/* gallery*/

/*carousel*/
#makeMeScrollable {
  height: 790px;
  margin-top: -251px;
  img {
    padding-right: 20px;
  }
  .scrollingHotSpotLeft {
    display: block ! impotant;

  }
  .scrollingHotSpotRight {
    display: block ! impotant;
  }

}

.left_right {
  margin-bottom: 300px;
}

/*carousel*/

/*blog*/
.blog-post {
  .blog_insert {
    border-top: 7px solid black;
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 20px;
    margin-left: -53px;
    padding-top: 20px;
    width: 100%;
    font-family: @mainFont;
  }
  .blog-post-meta {
    font-style: italic;
  }
  h2 {
    margin-bottom: 25px;
    width: 79%;
  }
  .blog_image {
    margin-bottom: 24px;
    width: 100%;
    img {
      max-width: 100%;
    }
  }
}

.blog_navigation {
  margin-top: 50px;
}

.blog_entry_nav {
  margin-bottom: 70px;
  display: block;
}

.text-bold-md {
  font-family: @mainFontB;
  font-size: 18px;
}

.share {
  span {
    display: block;
    padding: 10px 15px;
    padding: 10px 9px 2px 0;
  }
}

/*blog*/

/*popup*/

.mfp-bg {
  background: #dae6cd;
}

.btn-label {
  position: relative;
  left: -12px;
  display: inline-block;
  padding: 6px 12px;
  background: rgba(0, 0, 0, 0.15);
  border-radius: 3px 0 0 3px;
}

.btn-labeled {
  padding-top: 0;
  padding-bottom: 0;
}

.input-group {
  margin-bottom: 10px;
}

.separator {
  border-right: 1px solid #dfdfe0;
}

.facebook, .twitter {
  min-width: 170px;
}

.facebook {
  background-color: #354E84;
  color: #fff;
}

.twitter {
  background-color: #00A5E3;
  color: #fff;
}

.facebook:hover, .twitter:hover {
  color: #fff;
}

.mfp-close-btn-in .mfp-close {
  color: white !important;
  font-size: 47px;
  font-weight: bold;
  z-index: 290;
  right: -18px;
  top: -17px;
}

.sign_in {
  position: relative;
  width: 624px;
  background: url(/images/sign_in_bg.png);
  height: 400px;
  width: 600px;
  
  &.margin-top{
    margin-top:240px;
  }
  .checkout-form {
    width: 500px;
    margin: 0 auto;
  }
  .popup {
    height: 399px;
  }
  .outer {
    height: 686px;
    margin-top: -3px;
    overflow: hidden;
    transform: rotate(45deg);
    --webkit-transform: rotate(45deg);
    width: 716px;
    margin-left: -60px;
  }
  .inner {
    background: none repeat scroll 0 0 #fff;
    background: url(/images/sign_in_bg.png);
    height: 400px;
    margin-left: 60px;
    margin-top: 129px;
    transform: rotate(-45deg);
    width: 600px;
  }
  .panel-heading {
    padding-top: 34px;
    h3 {
      font-size: 19pt;
      text-align: center;
    }
  }
  .input-group {
    width: 100%;
    input {
      width: 100%;
      height: 48px;
      margin-bottom: 12px;
      color: black;
      &.form-control {
        font-style: italic;
        font-family: @pFont;
      }
    }
    input:focus {
      outline: none;
    }
        
    &.entering {
      padding: 0;
      margin-bottom: 44px;
      .col-md-4 {
        padding-top: 14px;
      }
      input {
        width: 5px;
        height: 5px;
        margin: 0 13px 0 0;
      }
      .btn {
        width: 340px;
      }
    }

    &.down {
      font-size: 14pt;
    }
  }

}

/*popup*/

.checkout-container {
  position: relative;
  width: 624px;
  background: url(/images/sign_in_bg.png);
  height: 400px;
  width: 600px;

  &.margin-top{
    margin-top:240px;
  }


  .popup {
    height: 399px;
  }
  .outer {
    height: 686px;
    margin-top: -3px;
    overflow: hidden;
    transform: rotate(45deg);
    --webkit-transform: rotate(45deg);
    width: 716px;
    margin-left: -60px;
  }
  .inner {
    background: none repeat scroll 0 0 #fff;
    background: url(/images/sign_in_bg.png);
    height: 400px;
    margin-left: 60px;
    margin-top: 129px;
    transform: rotate(-45deg);
    width: 600px;
  }
  .panel-heading {
    padding-top: 34px;
    text-align: left;
    h3 {
      font-size: 19pt;
    }
  }
  .input-group {
    width: 100%;
    input {
      width: 100%;
      height: 48px;
      margin-bottom: 12px;
      color: black;
      &.form-control {
        font-style: italic;
        font-family: @pFont;
      }
    }
    input:focus {
      outline: none;
    }

    &.entering {
      padding: 0;
      margin-bottom: 44px;
      .col-md-4 {
        padding-top: 14px;
      }
      input {
        width: 5px;
        height: 5px;
        margin: 0 13px 0 0;
      }
      .btn {
        width: 100%;
      }
    }

    &.down {
      font-size: 14pt;
    }
  }

}

/*bag*/

#cart-list {
  width: 100%;
  position: fixed;
  height: 238px;
  display: none;
  z-index: 100;
  top: 0;
  &.open {
    display: block;
  }
  .overlay-cart-list {
    cursor: pointer;
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    background-image: -moz-linear-gradient(top, #BDD2A9, #BDD2A9 0, rgba(57, 194, 218, 0));
    background-image: -webkit-linear-gradient(top, #BDD2A9, #BDD2A9 0, rgba(189,210,169, 0));
    background-image: -ms-linear-gradient(top, #BDD2A9, #BDD2A9 0, rgba(57, 194, 218, 0));
    background-image: -o-linear-gradient(top, #BDD2A9, #BDD2A9 0, rgba(57, 194, 218, 0));
    background-image: linear-gradient(top, #BDD2A9, #BDD2A9 0, rgba(57, 194, 218, 0));
  }
  .container {
    position: relative;
  }
}

.cart-list {
  &:before {
    background: none repeat scroll 0 0 #fff;
    content: "";
    height: 41px;
    position: absolute;
    right: -4px;
    top: 11px;
    transform: rotate(45deg);
    width: 41px;
    behavior: url(-ms-transform.htc);
    /* Firefox */
    -moz-transform: rotate(45deg);
    /* Safari and Chrome */
    -webkit-transform: rotate(45deg);
    /* Opera */
    -o-transform: rotate(45deg);
    /* IE9 */
    -ms-transform: rotate(45deg);
    /* IE6,IE7 */
    filter: progid:DXImageTransform.Microsoft.Matrix(sizingMethod='auto expand', M11=0.7071067811865476, M12=-0.7071067811865475, M21=0.7071067811865475, M22=0.7071067811865476);
    /* IE8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(SizingMethod='auto expand', M11=0.7071067811865476, M12=-0.7071067811865475, M21=0.7071067811865475, M22=0.7071067811865476)";

  }
  border-bottom: 6px solid #e6eedc;
  width: 287px;
  left: 600px;
  position: absolute;
  top: 17px;
  background: #fff;
  display: none;
  .open & {
    display: block;
  }
  .list-group {
    width: 84%;
    margin: 0 auto;
    .list-group-item {
      padding: 17px 15px;
      div {
        font-weight: bold;
      }
      border: medium none;
      border-radius: 0;
      text-align: center;
      font-size: 11pt;
      &.border-bottom {
        border-bottom: 2px solid #dddddd;
      }
      &.for_button {
        padding: 17px 0px;

      }
    }

    .btn {
      width: 100%;
      height: 55px;
      padding-top: 17px;
      margin-top: -17px;
    }
  }
}

/*bag*/

.my-account {
  margin-top: -20px;
  .list-group-item {
    padding-left: 0;
    padding-right: 0;
    border: none;
    border-top: 1px solid #ddd;
    height: 59px;
    padding-top: 17px;
    &.head {
      border: none;
      margin-bottom: 18px;
      h1 {
        margin: 0;
      }
    }
    .pull-right {
      font-weight: bold;
    }
  }

  .btn {
    width: 40%;
  }
}

.checkout {
  background: #efefef;
  width: 220px;
  margin-bottom: 12px;
  font-family:@pFont;
  font-size:15px;
  table {
    width: 183px;
    margin: 0 auto;
  }
  &.white {
    margin-bottom: 27px;
    background: none;
    .checkout-item {
      background: none;
      border: none;
      color: black;
      margin-bottom: 26px;
      .span-right {
        font-weight: normal;
        vertical-align: top;
        padding-top: 10px;
        font-size: 14px;
      }
    }
  }
  .btn {
    width: 100%;
    height: 57px;
    padding-top: 20px;
    font-size: 13pt;
  }
  .checkout-item {
    background: #efefef;
    border-bottom: 1px solid #d0d0d0;
    padding-top: 18px;
    padding-bottom: 18px;
    color: #999999;
    font-size: 16px;
    width: 181px;
    margin: 0 auto;
    height: 57px;
    &.down {
      border: none;
    }
    .span-right {
      font-weight: bold;
      color: black;
      text-align: right;
      width: 33px;
      font-size: 18px;
      font-family: @mainFontB;
    }
    .span-left {
      font-family: @pFont;
    }

  }
}

.continue {
  display: block;
  margin: 0 auto;
  text-decoration: underline;
  color: #999999;
  font-size: 15px;
  width: 154px;
  font-family: @pFont;
  &:hover {
    text-decoration: none;
  }
}

.blog {
  .blog_image {
    margin-bottom: 20px;
    width: 100%;
    position: relative;
    img {
      max-width: 100%;
    }
  }
  .blog-entry {
    float: left;
    xmax-height: 440px;
    margin-bottom: 60px;
    margin-right: 100px;
    &:nth-child(even) {
      margin-right: 0px;
    }
    &.blog-entry-lg {
      width: 600px;
    }
    &.blog-entry-md {
      width: 300px;
      &:nth-child(odd) + .blog-entry-md {
        margin-left: 100px;
      }
      &:nth-child(odd) + .blog-entry-sm {
        margin-left: 100px;
      }
    }
    &.blog-entry-sm {
      width: 300px;
      .blog_image {
        font-size: 25px;
        font-weight: bold;
      }
      &:nth-child(odd) + .blog-entry-md {
        margin-left: 100px;
      }
      &:nth-child(odd) + .blog-entry-sm {
        margin-left: 100px;
      }
      .blog-teaser {
        line-height: @pLineHeight;
        font-size: 30px;
        font-family: @mainFont;
      }
    }
    .blog-entry-title {
      margin-bottom: 14px;
    }
    .blog-teaser {
      line-height: @pLineHeight;
      font-size: @pFontSize;
      font-family: @pFont;
    }
  }
}

.description {

  width: 349px;
  text-align: center;
  h2 {
    margin-bottom: 15px;
    margin-top: 15px;
  }
  .description-text {
    margin-bottom: 13px;
    font-family: @pFont;
    line-height: 24px;
    font-size: @pFontSize;
    overflow: hidden;
    transition: height 0.2s;
  }
  .descriptions-links {
    display: block;
    font-size: 12px;
    margin-bottom: 11px;
    letter-spacing: 8px;
    font-weight: bold;
    img {
      margin-top: -4px;
    }
    a:hover, a:visited, a {
      font-family: @pFont;
      cursor: pointer;
      text-decoration: none;
      color: #000;
    }
  }
  .btn {
    width: 299px;
    height: 58px;
    padding-top: 17px;
    font-size: 13pt;
  }
  .word-size {
    font-size: 12pt;
    margin: 18px auto 13px;
  }
  .nav-pills {
    margin: 0 auto;
    font-weight: bold;
    margin-bottom: 20px;
    width: 240px;
    font-size: 18px;
    .size-name {
      cursor: pointer;
      padding: 4px 4px 0px;
      position: absolute;
      left: 0;
      width: 29px;
      height: 29px;
      z-index: 2;
    }
    li {
      width: 30px;
      height: 30px;
      border-radius: 39px;
      margin-right: 20px;
      &.check-size {
        background: @btnColor;
        margin-right: 15px;
        .size-name {
          color: #63695b;
        }
      }
      &:last-child {
        margin-right: 0;
      }
      .iradio {
        background: none;
        position: absolute !important;
        top: 0;
        left: 0;
        width: 30px;
        height: 30px;
        border-radius: 50%;

        &.checked {
          background: @btnColor;
        }
      }
    }
  }

}
.exp-block {
  .collapsed {
    .chevron {
      background: url(/images/ugolok_down.png) no-repeat;
    }
  }
  .chevron {
    width: 8px;
    height: 6px;
    display: inline-block;
    background: url(/images/ugolok_up.png) no-repeat;
  }
}
.checkout-form {
  .input-group, .table {
    width: 500px;
  }
  .table {
    td {
      padding: 6px 0 6px;
      border: none;
    }
  }
}
.login {
  margin-bottom: -10px;
  .panel-heading {
    padding-top: 0;
  }
  table {
    tr {
      height: 32px;
    }
    .td-right {
      text-align: right;
      font-weight: bold;
    }
  }
  .pull-left {
    margin-right: 24px;
    display: block;
  }
  .input-group {
    &.entering {
      margin-bottom: 10px;
    }

    &.some-input {
      table {
        /* width: 532px;
         margin-bottom: -13px;*/
        input {
          width: 238px;
        }
      }
    }
    &.some-input-3 {
         table {
           margin-bottom: -13px;
           .cvc {
             width: 140px;
            }
            input {
               width: 160px;
               margin-right: 20px;
            }
      }


    }

    }
    .panel-title {
      float: left;
    }




}



.about {
  position: relative;
  text-align: center;
  margin: 0 auto;
  width: 209px;
  margin-bottom: 45px;
  .line_1 {
    width: 119px;
    height: 8px;
    background: black;
    right: 96px;
    top: 146px;
    position: absolute;
  }
  .line_2 {
    position: absolute;
    width: 70px;
    height: 8px;
    background: black;
    top: 137px;
    left: 109px;
  }
  img {
    width: 26px;
    margin-bottom: 25px;
    width: 160px;
    height: 160px;
  }
}

.swiper-container {
  width: 100%;
  height: 545px;
  margin-bottom: 38px;
}

.swiper-wrapper {
  margin-left: 50px;
}

.swiper-slide {
  width: 365px !important;
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.lookbook-text {
  width: 560px;
  line-height: @pLineHeight;
  font-size: @pFontSize;
  font-family: @pFont;
  float: left;
}

.lookbook-nav > div {
  font-size: 15px;
  font-family: @mainFontB;
  float: left;
  &.swiper-button-prev {
    margin-right: 30px;
  }
}

.swiper-button-prev, .swiper-button-next {
  position: static;
  background: none;
  height: auto;
  width: auto;
  margin-top: 0;
}

.idea-top {
  .left {
    z-index: 10;
    width: 555px;
  }
  height: 605px;
  margin-bottom: 54px;
  .idea-1 {
    z-index: 2;
  }
  .idea-2 {
    margin-top: -107px;
    margin-right: 242px;
  }

}
.idea-3 {
  margin-top: -90px;
  margin-left: 60px;
}

.idea-middle {
  background: #efefef;
  height: 397px;
  color: #efefef;
  width: 100%;
  margin-bottom: 54px;

}

.idea-down {
  .right-text {
      width:310px;
      display: block;
      z-index: 100 !important;

    img {
      margin: 0 auto;
      margin-top: -20px;
      margin-left: 62px;
      z-index: 2;
    }
  }

}

.checkout-4 {
  width: 510px;
  .border {
    border-top: 1px solid #eaeaea;
  }
  .border-bottom {
    border-bottom: 1px solid #eaeaea;
  }
  .table-name {
    height: 0;
    h3 {
      margin-top: 0;
      margin-bottom: 20px;
    }
  }

  tr {
    height: 53px;
  }

  .table-tovar {
    margin-bottom: 17px;
    width: 100%;
    tr {
      height: 34px;
    }
  }
  .ship {
    padding-top: 69px;
    vertical-align: top;
    width: 255px;
  }
  .checkout-left {
    font-family: @pFont;
  }
  .checkout-right {
    font-weight: bold;
    text-align: right;
  }

  .table-2 {
    width: 258px;
    .btn {
      width: 100%;
      height: 48px;
      margin-top: 30px;
    }

  }
}

.checkout-4-right {
  width: 450px;
  float: left;
  margin-left: 60px;
  table {
    width: 100%;
  }
  .table-name {
    height: 0;
    h3 {
      font-family: @mainFont;
      margin-top: 0;
      margin-bottom: 15px;
    }
  }
  .table-name-2 h3 {
    font-family: @mainFont;
    margin-bottom: 18px;
    margin-top: 25px;
  }
  .checkout-4-right-col {
    text-align: right;
  }

  td {
    height: 30px;
    font-family: @pFont;
  }
}

/*checkbox*/
.icheckbox {
  background: url(/images/inputs.png) no-repeat;
  background-position: -26px -22px;
  float: left;
  width: 20px;
  height: 20px;
  margin-right: 11px;
  &.checked {
    background-position: -2px -22px;

  }

}

.checkbox-text {
  float: left;
  font-weight: normal;
}

.for-sign-in {
  display: block;
  float: right;
  padding: 11px 5px;
  .checkbox-text {
    font-family: @pFont;
    font-size: 16px;
  }
}

/*checkbox*/

/*radio*/
.iradio {
  background: url(/images/inputs.png) no-repeat;
  background-position: -26px 0px;
  float: left;
  width: 20px;
  height: 20px;
  margin-right: 11px;
  &.checked {
    background-position: -3px 1px;

  }

}

/*radio*/

.az-wrap {
  width: 420px;
  z-index: 10 !important;
  .az-wrap-inner {
    .az-zoom {
      cursor: crosshair;
      overflow: visible;
      background: none;
      width: 150px !important;
      height: 150px !important;
      .az-large {
        xleft: 500 !important;
        display: none !important;
      }
    }
  }
}
.frame-wrap {
  display: none;
  border: 2px solid #000;
  position: absolute;
  top: 0;
  left: 550;
  width: 421px;
  height: 457px;
  overflow: hidden;
  z-index: 10;
  .az-large-inner img {
    width: 840px;
  }
  .large-frame {
    position: absolute;
  }
}
